name: Renovate

on:
  schedule:
    - cron: "0 6-22/2 * * 1-5"
    - cron: "0 12-23/2 * * 0,6"
  push:
    branches:
      - 'main'
  issues:
    types:
      - edited
  workflow_call:
    inputs:
      runsOn:
        description: Define on which runner this workflow should run
        default: "ubuntu-latest"
        required: false
        type: string

concurrency:
  group: 'renovate'
  cancel-in-progress: true

jobs:
  renovate:
    name: Renovate
    runs-on: ${{ inputs.runsOn || 'ubuntu-latest' }}
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.RENOVATE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.RENOVATE_BOT_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Renovate
        uses: WyriHaximus/github-action-renovatebot@6f7371a412439e830f4cffc34401381da70cd2c5 # v0.5.6
        with:
          renovateAppToken: ${{ steps.app-token.outputs.token }}
